{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %} Log in {% endblock title %}

{% block content %}
<div class="container">
    <div class="row my-3">
        <div class="card form-card">
            <div class="card-header text-center bg-white">
              <h3>Change Password</h1>
            </div>
            <div class="card-body">
                <form class="password_change" method="POST" action="{% url 'account_change_password' %}">
                    {% csrf_token %}
                    {{form|crispy}}
                    <!-- submit -->
                    <button class="btn btn-primary btn-sm float-right rounded-0" type="submit" name="action">{% trans "Change Password" %}</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}