<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load staticfiles %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    {{ article.title }}
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

<!-- 文章详情 -->
<div class="container">
    <div class="row justify-content-center">
        <!-- 标题及作者 -->
        <div class="col-lg-9">
            <div class="card rounded-0 border-0" id="article">
                <div class="card-body px-2 px-md-3 pb-0">
                    <h1 class="card-title text-center font-weight-bold text-info">{{ article.title }}</h1>
                    <hr>
                    <div class="text-center">
                        <span class="mx-2" data-toggle="tooltip" data-placement="bottom"
                              title="updated: {{ article.updated }}">{{ article.created }}</span>
                        <span class="mx-2">views {{ article.total_views }}</span>
                    </div>
                    <div class="article-body mt-4 f-17" style="line-height:1.8">
                        {{ article.body|safe }}
                    </div>
                    <!-- <div class="tag-cloud my-4">
                        {% for tag in article.tags.all %}
                        <a class="tags f-16" href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
                        {% endfor %}
                    </div> -->
                </div>
            </div>
            
            <!-- 发表评论 -->
            <hr>
            {% if user.is_authenticated %}
                <div>
                    <form 
                        action="{% url 'comment:new_comment' article.id %}" 
                        method="POST"
                    >
                    {% csrf_token %}
                        <div class="form-group">
                            <label for="body">
                                <strong>
                                    Comment this post：
                                </strong>
                            </label>
                            <textarea 
                                type="text" 
                                class="form-control" 
                                id="body" 
                                name="body" 
                                rows="2"></textarea>
                        </div>
                        <!-- 提交按钮 -->
                        <button type="submit" class="btn btn-primary ">submit</button>                    
                    </form>
                </div>
                <br>
            {% else %}
                <br>
                <h5 class="row justify-content-center">
                    Please&nbsp;<a href="{% url 'user:login' %}">log in</a>&nbsp;or&nbsp;<a href="{% url 'user:register' %}">register</a>&nbsp;to comment
                </h5>
                <br>
            {% endif %}



            <!-- 显示评论 -->
            <h4>There are total {{ comments.count }} comments</h4>
            <div>
                {% for comment in comments %}
                    <hr>
                    <p>
                        <strong style="color: pink">
                            {{ comment.user }}
                        </strong> 于 
                        <span style="color: green">
                            {{ comment.created|date:"Y-m-d H:i:s" }}
                        </span> 时说：
                    </p>
                    <pre style="font-family: inherit; font-size: 1em;">
        {{ comment.body }}</pre>
                {% endfor %}
            </div>
        </div>

        <div class="col-lg-3 mt-4 d-none d-lg-block sidebar" id="sidebar">
            <div class="sidebar__inner">
                <hr>
                <div>
                    {{ toc|safe }}
                </div>
            </div>
        </div>

    </div>
</div>


{% block script %}

<!-- 引入粘性侧边栏 -->
<script src="{% static 'sticky_sidebar/jquery.sticky-sidebar.min.js' %}"></script>
<script type="text/javascript">
    $('#sidebar').stickySidebar({
        topSpacing: 20,
        bottomSpacing: 20,
    });
</script>

{% endblock script %}

{% endblock content %}