/*Headroom.js*/

.headroom {
    transition: transform 300ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}

/* ----------- base css ----------------*/

body {
    background-color: #eef5fd;
    min-height: 100vh;
    padding-top: 4rem;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.container {
    padding-right: 5px;
    padding-left: 5px;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: #E63946;
}

.choice .active {
    color:#1D3557;
    border-bottom: 2px solid #1D3557;
}

.jumbotron{
    background:url(../img/background.jpg);
}

.h1, h1 {
    font-size: 1.6rem;
}

.h2, h2 {
    font-size: 1.5rem;
}

.h3, h3 {
    font-size: 1.4rem;
}

.h4, h4 {
    font-size: 1.3rem;
}

.h5, h5 {
    font-size: 1.2rem;
}

.h6, h6 {
    font-size: 1.1rem;
}

/* ----------- nav bar ----------------*/

.blog-navbar {
    box-shadow: 0 2px 4px 2px rgba(0,0,0,0.07);
}

#site-name,
#site-name:hover{
    color: #3b4747;
}

.nav-item a.active {
    color: #E63946;
}

/* ----------- search card ----------------*/

.search-card .card-header {
    border-bottom: 2px solid #f0f0f0;
    padding-bottom:4px;
}

.search-card .card-header strong {
    padding-bottom:10px;
    border-bottom: 2px solid #00AAEE;
}

/* ----------- article list ----------------*/

.summary-list .media {
    background-color: #fff;
    transition: 0.5s
}

.summary-list .media:hover{
    box-shadow: 0px 1px 8px 0.1px rgba(0, 0, 0, 0.3);
}

.article-title{
    color: #1D3557;
    transition:0.5s;
}

.article-title:hover{
    color: #1D3557;
    margin-left:8px;
}

/* ----------- side block ----------------*/

.sideblock-card .card-header {
    border-bottom: 2px solid #f0f0f0;
    padding-bottom:10px;
}

.sideblock-card .card-header strong {
    padding-bottom:12px;
    border-bottom: 2px solid #00AAEE;
}

.sideblock-card .badge {
    width: 2.2rem;
    background-color: #17a2b8;
    color: #fff;
    font-weight: 700;
    border-radius: .2rem;
}

.category-item {
    transition:0.5s;
}

.category-item:hover {
    margin-left:0.4rem;
}

.category-item:before {
    position: absolute;
    top: 1em;
    left: .2rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #fff #fff #fff #4285f4;
    -webkit-transform-origin: 25% center;
    transform-origin: 25% center;
    border-width: 4px;
    content: "";
}

.contact-info {
    transition:0.5s;
}

.contact-info:hover {
    transform: translateY(-5%);
}

.tag-cloud {
    width: 100%;
    margin: auto;
    overflow: hidden;
    text-align: left;
}
.tags {
    color:#fff;
    padding: .08rem .4rem;
    float: left;
    text-align: center;
    margin: .3rem;
    transition: all .4s;
    border-radius: 8px;
}
.tags:nth-child(9n+1) {
    background:#78BBE6;
}
.tags:nth-child(9n+2){
    background:#FF895D;
}
.tags:nth-child(9n+3) {
    background:#A3DE83;
}
.tags:nth-child(9n+4) {
    background:#00BBF0;
}
.tags:nth-child(9n+5) {
    background:#FF2E63;
}
.tags:nth-child(9n+6) {
    background:#0D7377;
}
.tags:nth-child(9n+7) {
    background:#AC005D;
}
.tags:nth-child(9n+8) {
    background:#0881A3;
}
.tags:nth-child(9n+9) {
    background:#EDA045;
}
.tags:hover {
    color:#fff;
    border-radius: 3px;
    box-shadow: 0 2px 6px 0.2px rgba(0, 0, 0, 0.37);
}

/* ----------- article detail ----------------*/

.article-body h2{
    font-weight:600;
    margin: 10px 0;
    padding: 0 10px;
    border-left: 5px solid #20c997;
    background-color: #f7f7f7;
    line-height: 2em;
}


.article-body h3 {
    font-weight:600;
}

.article-body p {
    margin-bottom:1em;
}

.article-body ul,
.article-body ol {
    padding-left:2em;
}

.sidebar{
    will-change: min-height;
    width:100%;
}

.sidebar__inner{
    transform: translate(0, 0);
    transform: translate3d(0, 0, 0);
    will-change: position, transform;
    border-left:2px solid #c4c4c4;
    width:100%;
    padding-bottom: 1rem;
}

.toc ul{
    padding-left:1em;
}

.toc >ul > li {
    list-style-type: None;
    line-height: 1.8em;
    color: #c4c4c4;
}

.toc > ul > li > ul{
    padding-left:1em;
}

.toc > ul > li > ul > li {
    list-style-type: none;
}

/* ----------- Comment form ----------------*/

.comment-form {
    background-color:#f7f7f7;
}

/* ----------- log in/out ----------------*/

.form-card {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
}

.asteriskField {
    margin: 0.2rem;
    color: red;
}

.card-body .alert {
    border-radius: 0;
}

.card-body .alert ul {
    padding-left:.5rem;
    margin-bottom: 0;
}

/* ----------- archive ----------------*/

.archive .card-header {
    border-bottom: 2px solid #f0f0f0;
    padding-bottom:5px;
    text-align: center;
}

