{% load main_tags %}


{% url 'main:article_list' as base_index %}
{% url 'main:article_list_view' as view_index %}

{% if filterType == 'Category'%}

{% url 'main:category' filterInstance.id as base_index %}
{% url 'main:category_view' filterInstance.id as view_index %}

{% elif filterType == 'Tag' %}

{% url 'main:tag' filterInstance.id as base_index %}
{% url 'main:tag_view' filterInstance.id as view_index %}

{% endif %}


{% if filterType %}

<div class="card border-0 rounded-0 px-3 mb-2 search-card">
    <div class="card-header bg-white px-0">
        <h6 class="float-right mb-0 mt-2"><span class="mx-2">{{ paginator.count }}</span> Articles</h6>
        <h2><strong>{{filterType}}：{{ filterInstance.name }}</strong></h2>
    </div>
    <p>Random shit</p>
</div>
{% endif %}

<!-- Sort Options -->
<div class="text-secondary font-weight-bold py-2 ml-1 choice">
    <a class="pb-2 {% if request.path == base_index %}active{% endif %}" href="{{ base_index }}">
        <i class="fas fa-calendar-alt mr-1"></i>Sort by Time</a>
    <a class="pb-2 ml-4 {% if request.path == view_index %}active{% endif %}" href="{{ view_index }}">
        <i class="fas fa-fire"></i> Sort by Views</a>
</div>

<!-- Article List -->
<div class="summary-list">
    {% for article in articles %}
        <!-- Title picture -->
        <div class="media mb-1 mb-sm-2 p-2 p-lg-3">
            {% if article.image %}
            <div class="align-self-center mr-2 mr-lg-3 w-25 modal-open">
                <img class="w-100" src="{{ article.image.url }}" 
                    alt="image" 
                >
            </div>
            {% endif %}
            <!-- Content -->
            <div class="media-body">
                <!-- Title -->
                <h4 class="mt-0 font-weight-bold">
                        <a class="article-title" href="{% url 'main:detail' article.id %}">
                            {{ article.title }}
                        </a>
                </h4>
                <!-- Summary -->
                <div>
                    <p style="color: gray;">
                        {{ article.body|slice:'100' }}...
                    </p>
                </div>
                <!-- 注脚 -->
                <p style="margin-bottom: -1px;">
                    <!-- 附加信息 -->
                    {% if article.category %}
                    <span style="color: #457b9d;">
                        <a href="{{article.category.get_absolute_url}}">
                            <i class="fas fa-book"></i> {{ article.category }} &nbsp;
                        </a>
                    </span>
                    {% endif %}
                    <span style="color: gray;">
                        <i class="fas fa-eye"></i> {{ article.total_views }} &nbsp; 
                    </span>
                    <span style="color: grey;">
                        <i class="fas fa-clock"></i> {{ article.created|timesince_en }} &nbsp;
                    </span>
                </p>
            </div>
        </div>
    {% endfor %}
</div>
{% if is_paginated %}
<div class="pagination row">
    <div class="m-auto">
        <div class="text-center mt-2 mt-sm-1 mt-md-0 mb-3 f-16">
            {% if page_obj.has_previous %}
            <a class="text-info" href="?page={{ page_obj.previous_page_number }}">&laquo; Prev</a>
            {% else %}
            <span class="text-secondary" title="Currently at first page">&laquo; Prev</span>
            {% endif %}
            <span class="mx-2">Page&nbsp;{{ page_obj.number }}&nbsp;/&nbsp;{{ paginator.num_pages }}</span>
            {% if page_obj.has_next %}
            <a class="text-info" href="?page={{ page_obj.next_page_number }}">Next &raquo;</a>
            {% else %}
            <span class="text-secondary" title="Currently at last page">Next &raquo;</span>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}

