<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load staticfiles %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    {{ article.title }}
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

<!-- 文章详情 -->
<div class="container">
    <div class="row">
        <!-- 标题及作者 -->
        <div class="col-9">
            <h1 class="mt-4 mb-4">{{ article.title }}</h1>
            <div class="alert alert-success">
                <div>
                    Author: {{ article.author }}
                    {% if user == article.author %}
                        <a href="{% url "article:article_delete" article.id %}">Delete Article</a>
                    {% endif %}
                </div>
                <div>
                    views: {{ article.total_views }}
                </div>
            </div>
            <!-- 文章正文 -->
            <div class="col-12">
                <p>{{ article.body|safe }}</p>
            </div>

        </div>
        <div class="col-3 mt-4">
            <hr>
            <div>
                {{ toc|safe }}
            </div>
        </div>

    </div>
</div>

{% endblock content %}