{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Log in {% endblock title %}

{% block content %}
<div class="container">
    <div class="row my-3">
        <div class="card form-card">
            <div class="card-header text-center bg-white">
              <h3>Log in</h1>
            </div>
            <div class="card-body">
                <form class="form-login" method="post" action=".">
                    {% csrf_token %}

                    <!-- username -->
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
                    </div>
                    <!-- password -->
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                    </div>
                    <div>
                    <p class="text-muted"><a href="{% url 'user:register'%}">Register to join us!</a></p>
                    <!-- submit -->
                    <button class="btn btn-primary btn-sm float-right rounded-0" type="submit">Log in</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}